<mat-toolbar color="primary" class="header">
  <button mat-icon-button class="hamburger-menu" (click)="onMenuToggle()">
    <mat-icon>menu</mat-icon>
  </button>

  <span class="app-title">DockiUp</span>

  <span class="spacer"></span>

  <app-create-project-button />

  <app-task-center />

  @if (authEnabled() && !isAuthenticated()) {
    <button mat-button class="user-button" (click)="login()">
      <span>Login</span>
      <mat-icon>login</mat-icon>
    </button>
  } @else {
    <div class="user-menu-container">
      <button mat-button class="user-button" (click)="toggleUserMenu()">
        <span>{{ displayName() }}</span>
        @if (picture() && !pictureFailed()) {
          <img class="user-picture" [src]="picture()" alt="" referrerpolicy="no-referrer" (error)="pictureFailed.set(true)" />
        } @else {
          <mat-icon>account_circle</mat-icon>
        }
      </button>
      @if (userMenuOpen()) {
        <div class="user-dropdown">
          <div class="user-info">
            <div class="user-name">{{ displayName() }}</div>
            <div class="user-email">{{ email() }}</div>
          </div>
          <div class="dropdown-divider"></div>
          <a class="dropdown-link" routerLink="/me" (click)="closeUserMenu()">
            <mat-icon>account_circle</mat-icon>
            <span>Profile</span>
          </a>
          <div class="dropdown-divider"></div>
          <app-theme-toggle />
          @if (authEnabled() && isAuthenticated()) {
            <div class="dropdown-divider"></div>
            <a class="dropdown-link" (click)="logout()">
              <mat-icon>logout</mat-icon>
              <span>Logout</span>
            </a>
          }
        </div>
      }
    </div>
  }
</mat-toolbar>
