<h2 mat-dialog-title>
    <span *ngIf="inEditMode; else createMode">Edit Container</span>
    <ng-template #createMode><span>Create Container</span></ng-template>
</h2>

<mat-dialog-content>
    <mat-stepper [linear]="true" #stepper>
        <mat-step [completed]="basicInfoFormGroup.valid">
            <ng-template matStepLabel>Basic Information</ng-template>
            <app-basic-info-step [formGroup]="basicInfoFormGroup"></app-basic-info-step>
        </mat-step>

        <mat-step [completed]="updateMethodFormGroup.valid">
            <ng-template matStepLabel>Update Method</ng-template>
            <app-update-method-step [updateMethodFormGroup]="updateMethodFormGroup"></app-update-method-step>
        </mat-step>

        <mat-step>
            <ng-template matStepLabel>Summary</ng-template>
            <app-summary-step [basicInfoFormGroup]="basicInfoFormGroup"
                [updateMethodFormGroup]="updateMethodFormGroup"></app-summary-step>
        </mat-step>
    </mat-stepper>
</mat-dialog-content>

<mat-dialog-actions align="start">
    <button mat-button mat-dialog-close (click)="onCancel()">Cancel</button>
    <span class="space-between"></span>
    <button mat-button (click)="stepper.previous()" [disabled]="stepper.selectedIndex === 0">Back</button>
    <button mat-button *ngIf="stepper.selectedIndex !== stepper.steps.length - 1" (click)="stepper.next()"
        [disabled]="!isCurrentStepValid()">Next</button>
    <button mat-raised-button color="primary" *ngIf="stepper.selectedIndex === stepper.steps.length - 1"
        (click)="onSubmit()" [disabled]="!isFormValid()">{{ inEditMode ? 'Update' : 'Create' }} Container</button>
</mat-dialog-actions>