// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "tailwindcss";
@use '@angular/material' as mat;

html {
  @include mat.theme((typography: Roboto,
      density: 0,
    ));
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
}

@include mat.toolbar-overrides((
  container-background-color: white,
));

mat-toolbar {
  border-bottom: 1px solid #e0e0e0;
}