<form [formGroup]="formGroup" class="gap-top">
    <mat-form-field appearance="fill" class="full-width">
        <mat-label>Container Name</mat-label>
        <input matInput formControlName="name" required maxlength="20">
        <mat-error *ngIf="formGroup.get('name')?.hasError('required')">
            Container Name is required.
        </mat-error>
        <mat-error *ngIf="formGroup.get('name')?.hasError('minlength')">
            Minimum 3 characters required.
        </mat-error>
        <mat-error *ngIf="formGroup.get('name')?.hasError('maxlength')">
            Maximum 20 characters allowed.
        </mat-error>
        <mat-error *ngIf="formGroup.get('name')?.hasError('pattern')">
            Container Name cannot be empty or whitespace.
        </mat-error>
        <mat-hint align="end">{{ formGroup.get('name')?.value?.length || 0 }}/20</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
        <mat-label>Git URL</mat-label>
        <input matInput formControlName="gitUrl" placeholder="https://github.com/username/repo" required
            maxlength="100">
        <mat-error *ngIf="formGroup.get('gitUrl')?.hasError('required')">
            Git URL is required.
        </mat-error>
        <mat-error *ngIf="formGroup.get('gitUrl')?.hasError('pattern')">
            Enter a valid URL (e.g., https://example.com).
        </mat-error>
        <mat-error *ngIf="formGroup.get('gitUrl')?.hasError('maxlength')">
            Maximum 100 characters allowed.
        </mat-error>
        <mat-hint align="end">{{ formGroup.get('gitUrl')?.value?.length || 0 }}/100</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description" rows="2" maxlength="100"></textarea>
        <mat-error *ngIf="formGroup.get('description')?.hasError('maxlength')">
            Maximum 100 characters allowed.
        </mat-error>
        <mat-hint align="end">{{ formGroup.get('description')?.value?.length || 0 }}/100</mat-hint>
    </mat-form-field>
</form>